@import 'tailwindcss';

html, body, .root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-category {
  @apply w-full h-fit px-2
}
.form-category-header {
  @apply text-xl text-slate-400 font-bold
}
.form-category-divider {
  @apply h-[.05rem] w-full bg-slate-400 mt-[.1rem] mb-[.5rem];
}
.form-entry {
  @apply w-full grid grid-cols-[5rem_max-content] items-center justify-around py-[.05rem];
}
form label {
  @apply text-slate-400 font-bold text-base lg:text-lg;
}
form input {
  @apply w-[20rem] lg:w-[23rem] border bg-slate-400 text-black px-[.25rem];
}
form input:read-only {
  @apply bg-slate-800 text-slate-500 border-none;
}

form button {
  @apply w-[5.5rem] h-[2.5rem] bg-slate-700 hover:bg-slate-500 border border-2 border-slate-900 hover:border-slate-700 rounded-md font-bold text-slate-400;
}

form button:disabled {
  @apply bg-slate-700 text-slate-600 border-slate-800;
}